.about-page {
    @include dotted-bg;
}

.about-hero {
    @include cp-hero;
    position: relative;
    background-color: $bg-dark;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
        width: 105vw;
        height: 100vw;
        background: rgba(17, 17, 17, 0.5) url(../../public/img/bg-dots.jpg);
        background-size: cover;
        background-position: center top 28%;
        background-blend-mode: overlay;

      }

    .row {
        padding-top: 40px;
    }

    &__content {
        text-align: center;
        position: relative;
        z-index: 1;
        text-shadow: 0 0 10px var(--body-bg-color);

        h1 {
            font-weight: $bold;
            font-size: Min(10vw, 4.7rem);
            margin-bottom: .05em;

            @include breakpoint($md) {
                font-size: Min(5vw, 7.3rem);
            }
        }

        p {
            font-size: clamp(1.4rem, 3.4vw, 1.5rem);

            @include breakpoint($md) {
                font-size: clamp(1.4rem,1.6vw, 2.6rem);
            }
        }
    }

    &__contact {
        margin: Min(2vw, 20px) 0;
        justify-content: center;

        li {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.about-intro {
    p {
        margin-bottom: 1em;
    }
}

.about-content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        @include accent-hl;
    }

    p {
        line-height: 1.6;
        margin-bottom: 3em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .arrow-link {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
}

.about-grid {

    > div:not(:last-child) {
        @include breakpoint-max($md) {
            margin-bottom: 6rem;
        }
    }


        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 0px;

        @include breakpoint($md) {
            display: grid;
        }


        .div1 { grid-area: 1 / 1 / 4 / 2; }
        .div2 { grid-area: 3 / 2 / 6 / 3; }
        .div3 { grid-area: 5 / 1 / 8 / 2; }
        .div4 { grid-area: 7 / 2 / 10 / 3; }
}