.about-page {
    @include dotted-bg;
}

.about-hero {
    // padding-top: Min(6vw, 80px);
    // padding-bottom: Min(6vw, 80px);
    @include cp-hero;
    position: relative;

    @include breakpoint-max($sm) {
        height: 62vw;
    }

    &__img-frame {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 8%;
            right: 8%;
            background-color: var(--body-bg-accent-color);
            opacity: .2;
            z-index: -1;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .row {
        padding-top: 40px;
    }

    &__content {

        h1 {
            font-weight: $bold;
            font-size: Min(10vw, 4.7rem);
            margin-bottom: .05em;

            @include breakpoint($md) {
                font-size: Min(5vw, 7.3rem);
            }
        }

        p {
            font-size: clamp(1.4rem, 3.4vw, 1.5rem);

            @include breakpoint($md) {
                font-size: clamp(1.4rem,1.6vw, 2.6rem);
            }
        }
    }

    &__contact {
        margin: Min(2vw, 20px) 0;

        li {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.about-intro {
    p {
        margin-bottom: 1em;
    }
}

.about-content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        @include accent-hl;
    }

    p {
        line-height: 1.6;
        margin-bottom: 3em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}