.contact-page {
    @include dotted-bg;
}

.contact-hero {
    background-image: url(../../public/img/bg-hello.jpg);
    background-size: cover;
    background-position: center;
    @include cp-hero;
}


.contact-intro {
    &__links {
        justify-content: center;
        margin-top: 30px;

        a {
            color: var(--text-color-dk);
            border: 1px solid var(--text-color-dk);

            &:hover, &:focus {
                background-color: var(--text-color-dk);
                background-color: rgba(#111,.15);
                color: var(--text-color-dk);
                border-color: var(--text-color-dk);
            };
        }
    }
}

.contact-content {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

    .loader {
        @include center-x;
    }

    iframe {
        position: relative;
        z-index: 1;
    }
}