$menu-width: 250px;
$menu-transition: transform .5s ease-in-out;
$menu-break: $sm;

.nav {
    width: 100%;


    &-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(to bottom, var(--body-bg-color) 0%, transparent 100%);
    }

    &-footer {
        display: none;
    }

    &-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }

    &-brand {

        display: inline-block;
        width: 40px;

        @include breakpoint($md) {
            width: 45px;
        }

        img {
            width: 100%;
        }
    }

    &-list {

        list-style-type: none;
        margin-bottom: 0;

        @include breakpoint($menu-break) {
            display: flex;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--text-color);
            font-weight: $bold;

            display: block;

            &:hover,
            &:focus {
                @include breakpoint($menu-break) {
                    color: var(--accent-text-color);
                }
            }

            &.active {
                text-decoration: underline;
                text-underline-offset: $underline-offset;
            }
        }
    }

    .nav-header-menu {

        @include breakpoint-max($menu-break) {
            position: absolute;
            top: 0;
            right: -$menu-width;
            width: $menu-width;
            min-height: 100vh;
            height: 100%;
            background-color: var(--accent-text-color);
            background: linear-gradient(to right, rgba(0, 1, 17, 0.2) 0%, rgba(0, 1, 17, 0) 4%) var(--accent-text-color);
            overflow-x: hidden;
        }
    }

    .menu-toggle {
        --length: 24;
        --offset: -38;
        width: 35px;
        height: 35px;
        border: 2px solid var(--text-color);
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        right: 10px;

        @include breakpoint($menu-break) {
            display: none;
        }


        svg {
            width: 200%;
            @include center-xy;
        }

        path {
            fill: none;
            stroke: #ffffff;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            --length: 24;
            --offset: -38;
            stroke-dasharray: var(--length) var(--total-length);
            stroke-dashoffset: var(--offset);
            transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }


        .line--1,
        .line--3 {
            --total-length: 103;
            --offset: -42;
        }

        .line--2 {
            --total-length: 99;
        }

        &.is-open svg {
            path {
                transform: translateX(31px);
            }

            .line--1,
            .line--3 {
                --offset: -8;
                --length: 15;
            }

            .line--2 {
                --offset: -7;
            }
        }
    }

    .nav-links-header {
        @include breakpoint-max($menu-break) {
            transform: translateX(-$menu-width);
            transition: $menu-transition;
            position: relative;
            padding: 50px 0;
        }

        .show-menu & {
            transform: translateX(0);
        }

        li {

            @include breakpoint-max($menu-break) {
                opacity: 0;
                transform: translateY(-20px);
                transition: opacity 0.3s ease-out, transform 0.3s ease-out;
                @include cascade(4, 300);
                overflow: hidden;
                display: block;
                margin-bottom: 10px;
            }

            @include breakpoint($menu-break) {
                margin-left: 20px;
            }

            @include breakpoint($lg) {
                margin-left: 35px;
            }

            .show-menu & {
                opacity: 1;
                transform: translateY(0);
            }
        }

        a {
            font-size: 2rem;

            @include breakpoint-max($menu-break) {
                transition: .2s;
                padding: 10px 30px;
                color: var(--text-color-dk);
            }

            @include breakpoint($menu-break) {

                font-size: 1.6rem;
                font-weight: $med;
            }
        }
    }
}

// footer

.nav-links-footer {

    a {
        font-size: 1.6rem;

        @include breakpoint($md) {
            font-size: 1.4rem;
            font-weight: $normal;
        }
    }
}

.page-wrapper {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-bg-color);

    &.show-menu {
        background-color: var(--accent-text-color);
    }

    &__inner {
        transform: translateX(0);
        transition: $menu-transition;
        width: 100%;
        position: relative;
        background-color: var(--body-bg-color);

        &.show-menu {
            @include breakpoint-max($menu-break) {
                transform: translateX(-$menu-width);
            }
        }
    }

}

.footer {
    padding: 30px 0;
}

.nav-brand-footer {
    margin: 0 auto 20px;
    display: block;

    @include breakpoint($md) {
        margin: 0;
        position: relative;
        top: -7px;
    }
}

.nav-links-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    @include breakpoint($sm) {
        flex-direction: row;
        justify-content: center;
    }

    @include breakpoint($md) {
        justify-content: flex-end;
    }

    li {
        margin: 0 10px 15px;

        @include breakpoint($md) {
            margin: 0 0 0 20px;
        }
    }

    a {
        font-weight: normal;
        font-size: 1.4rem;

        @include breakpoint($md) {}

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }

        &.active {
            text-decoration: none;
        }
    }
}

.footer-contact-links {
    justify-content: center;

    @include breakpoint($md) {
        justify-content: flex-end;
    }

    li {
        &:last-child {
            @include breakpoint($md) {
                margin-right: 0;
            }
        }
    }
}

.container {
    @include breakpoint-max($menu-break) {
        width: auto;
    }
}