.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include breakpoint($sm) {
        height: 56.25vw;
        max-height: 800px;
    }

    .hero-img {
        @include breakpoint-max($menu-break) {
            object-position: calc(50% + 2vw) center;
        }
    }

    &__content {
        text-align: center;
        text-shadow: 2px 2px 4px #000;
        z-index: 1;
    }

    &__hl {
        font-weight: $bold;
        font-size: clamp(4.7rem, 6.7vw, 8.1rem);

        span {
            display: block;
        }
    }

    &__sub-hl {
        font-size: clamp(1.4rem, 2vw, 2.4rem);
        line-height: 1.2;
        margin: .25em auto 0;

        br {
            @include breakpoint($sm) {
                display: none;
            }
        }
    }
}

.skills-intro-wrap {
    @include breakpoint($md) {
        margin-bottom: 40px;
    }
}

.skills-exp {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        font-size: Min(13vw, 5.3rem);
        font-weight: $bold;
        line-height: 1;
        margin-bottom: .5em;

        @include breakpoint($md) {
            font-size: Min(5vw, 5.3rem);
            margin-right: 50px;
        }

        @include breakpoint($xl) {
            margin-right: 100px;
        }
    }

    h3 {
        @include accent-hl;
    }

    p {
        line-height: 1.6;
    }

    &__intro {
        font-size: 1.8rem;
        margin-bottom: 3em;

        a {
            font-size: 1.6rem;
            margin-top: 1em;
        }
    }

    &__divider {
        position: relative;

        span {
            @include center-xy;
            display: block;
            width: .2rem;
            height: 100%;
            background-color: var(--body-bg-accent-color);
        }
    }
}

.skills-wrap {
    h4 {
        font-size: 2rem;
        margin-bottom: 1em;
        font-weight: $med;
    }

    h5 {
        color: $blue;
        margin-bottom: 1em;
        font-weight: $med;
    }
}

.skill-list {
    margin-bottom: 2em;


    li {
        border: 2px solid transparent;
        border-radius: 2rem;
        font-weight: $med;
        font-size: 1.4rem;
        line-height: 1;
        padding: 8px 20px;
        display: inline-block;
        margin: 0 10px 10px 0;
        color: $lt-gray;
        border-color: $lt-gray;
    }
}

.exp-wrap {
    h4 {
        font-weight: $bold;
        line-height: 1;
        font-size: Min(5vw, 2.6rem);
        margin-bottom: .5em;
        display: flex;
        justify-content: space-between;

        @include breakpoint-min-max($md, $lg) {
            display: block;
            margin-bottom: 0;

            span {
                display: block;
                margin-bottom: .5em;
            }
        }

    }

    p {
        margin-bottom: 3em;
    }
}

.rez-link {
    display: block;
    margin-left: auto;
    font-weight: $bold;
    text-transform: uppercase;
    color: var(--accent-text-color);
    text-decoration: none;
    text-underline-offset: $underline-offset;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    svg {
        font-size: 1.8rem;
        margin-left: .25em;
    }
}

.skills-list {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-bar {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    width: calc(50% - 10px);

    &__bar {
        height: 2rem;
        background-color: $blue;
        background: linear-gradient(to right, $blue 0%,$pink 100%);
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.4rem;
        display: block;
        letter-spacing: .06em;
        line-height: 1.2;
        margin-bottom: .2em;
    }
}