@import './_variables.scss';

@mixin breakpoint($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-max($bp) {
    @media (max-width: calc($bp  - .5px)) {
        @content;
    }
}

@mixin breakpoint-min-max($bp1, $bp2) {
    @media (min-width: $bp1) and (max-width: calc($bp2  - .5px)) {
        @content;
    }
}

@mixin center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix() {
    &::before, &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}

@mixin cascade($num-elements: 120, $delay: 200) {
    @for $i from 1 to $num-elements + 1 {
        &:nth-child(#{$i}) {
            transition-delay:#{$i * $delay}ms;
        }
    }
}

@mixin dotted-bg {
    background-image: url(../../public/img/circle-dot-bg.svg), url(../../public/img/circle-dot-bg.svg), url(../../public/img/circle-dot-bg.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 80vw;
  background-position:
  top -51vw right -32vw, top 8vw left -36vw, bottom -29vw right -20vw;
}

@mixin accent-hl {
    font-weight: $bold;
    margin-bottom: .5em;
    font-size: Min(8vw, 3.4rem);
    color: var(--accent-text-color);
    line-height: 1;
}

@mixin hl {
    font-weight: $bold;
    font-size: Min(10vw, 5rem);

    @include breakpoint($md) {
        font-size: Min(5vw, 7.3rem);
    }
}

@mixin cp-hero {
    height: 39vw;

    @include breakpoint($lg) {
        height: 33vw;
    }
}
