.projects-page {
    @include dotted-bg;
}

.projects-hero {
    text-align: center;
    @include cp-hero;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--body-bg-color);
        opacity: .2;
    }

    h1 {
        position: relative;
        z-index: 1;
        @include hl;
        text-shadow: 0 0 10px var(--body-bg-color);
        padding-top: 40px;;
    }
}

.projects-content {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        @include accent-hl;
    }

    p {
        line-height: 1.6;
        margin-bottom: 1em;
    }
}

.project-info {
    margin-bottom: 5rem;
}