$med-blue: #0066CC;
$med-blue-rgb: 0, 102, 204;
$light-blue: #72ace5;
$light-blue-rgb: 114, 172, 229;
$bg-dark: #0a0c0d;




$underline-offset: 0.25em;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$normal: 400;
$med: 500;
$semi: 600;
$bold: 700;
$heavy: 800;
$black: 900;

$main-font: 'Poppins', sans-serif;

$near-black: #111;
$lt-gray: #eee;
$dk-gray: #333;
$pink: #DE04AA;
$blue: #06ACE9;
$green: #90EE90;
$yellow: #FFEA00;
$pink-lavender: #DCB6D5;
$flame: #E4572E;
$error: #F22B29;







