@import './_variables.scss';
@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Sans");

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
}

/* Font Sizes */
h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a:not([class]) {
    color: $med-blue;
    text-underline-offset: $underline-offset;
}

#navbarNav a.active {
    color: #fff;
}

.btn-reset {
    all: unset;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    background: none;
}

// resume page
@media print {
    .container {
        padding-top: 20px !important;

        header {
            margin-top: 0 !important;
        }

        &.is-condensed {

            h2 {
                font-size: 1.25rem;
                line-height: 1;
                margin-bottom: .2rem;
            }

            h3 {
                font-size: 1rem;
                line-height: 1;
                margin-bottom: .25rem;
            }

            ul {
                margin-bottom: .25rem;
            }

            li {
                line-height: 1;
            }

            hr {
                margin: .5em 0;
            }

            section {
                margin-bottom: .3rem;
            }

            div {
                margin-bottom: .25rem !important;

                &[class] {
                    margin-bottom: 0 !important;
                }
            }

            a {
                line-height: 1;
            }

            p {
                line-height: 1;
                margin-bottom: .5rem!important;
            }
        }
    }

    .no-print {
        display: none;
    }
}