@import './_variables.scss';
@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Sans");

html[data-bs-theme=dark] {
    --bs-body-bg: #0a0c0d;
    --bs-dark-rgb: 10, 12, 13;
    --bs-link-color: #72ace5;
    --bs-link-color-rgb: 114, 172, 229;
    --bs-link-hover-color: #b3e0ff;
    --bs-link-hover-color-rgb: 179, 224, 255;
}

html[data-bs-theme=light],
:root {
    --bs-link-color: #0066CC;
    --bs-link-color-rgb: 0, 102, 204;
    --bs-link-hover-color: #004D99;
    --bs-link-hover-color-rgb: 0, 77, 153;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
}

/* Font Sizes */
h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-underline-offset: $underline-offset;
}

// ctas
.arrow-link {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.btn-reset {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    background: none;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 100%;;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
    outline-offset: 3px;
}

.nav {
    &-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &-brand {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    &-list {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;

        li {
            margin-left: 15px;
        }

        a {
            text-decoration: none;
            color: #c2c2c2;
            transition: .2s;

            &:hover,
            &:focus {
                color: #fff;
                text-decoration: underline;
                text-underline-offset: $underline-offset;
            }

            &.active {
                color: #fff;
            }
        }
    }
}

// resume page
@media print {
    body {
        color: #000;
    }

    @page {
        margin: 5%;
    }

    .container {
        padding-top: 20px !important;
        max-width: none !important;


        header {
            margin-top: 0 !important;
        }

        .skills-list {
            columns: 3;
        }

        &.is-condensed {

            h2 {
                font-size: 1.25rem;
                line-height: 1;
                margin-bottom: .2rem;
            }

            h3 {
                font-size: 1rem;
                line-height: 1;
                margin-bottom: .25rem;
            }

            ul {
                margin-bottom: 1rem;
            }

            li {
                line-height: 1.2;
            }

            hr {
                margin: .5em 0;
            }

            section {
                margin-bottom: .3rem;
            }

            div {
                &[class] {
                    margin-bottom: 0 !important;
                }
            }

            a {
                line-height: 1;
            }

            p {
                line-height: 1;
            }
        }
    }

    .no-print {
        display: none;
    }

    #rez-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}