@import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";

.page-content {
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

// about page
.about-img {
    width: 100%;
}

.about-cta-wrap {
    margin: 30px 0;

    @include media-breakpoint-up(lg) {
        margin: 50px 0;
    }
}

// Projects page
.proj {
    margin-bottom: 40px;
}

// resume page
.rez {
    &-header {
        margin-top: 40px;

        h1 {
            font-size: 2.25rem;
        }

        a {
            display: block;
            text-decoration: none;
        }
    }

    &-section {
        margin-bottom: 2rem;
    }

    &-job {
        margin-bottom: 1.5rem;

        ul {
            margin-left: 0;
            padding-left: 0;
            list-style-position: inside;
        }
    }

    &-edu {
        h3 {
            margin-bottom: 0;
        }

        p:not(:last-of-type) {
            margin: 0;
        }
    }


    &-skl {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            columns: 1;

            @media screen and (min-width: 450px) {
                columns: 2;
            }

            @include media-breakpoint-up(md) {
                columns: 3;
            }

            @include media-breakpoint-up(lg) {
                columns: 4;
            }

            @include media-breakpoint-up(xl) {
                columns: 5;
            }
        }

        li {
            margin-bottom: .5rem;
        }
    }

    &-awd {
        h3 {
            margin-bottom: 0;
        }
    }
}